body {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAATklEQVQoU2O0O3X+PwMDA8MhM0NGEI0LMBKtEJsJD27YgW1R0DgEtwWrdUQrxGYLY8V5iDUdhghrKFOITfenmXFgW/jSF+H3DNEKsdkCAO99IAvXcD3VAAAAAElFTkSuQmCC")
    
  }  
 
.images-group {

padding-left: 280px;
align-items: center;

}

#game-screen{
    display: flex;
    flex-direction: row;
    justify-content: center ;
    
    
    
}

  h1 {
  
    text-align: center;
    font-size: 70px;
    font-family: 'Jura', sans-serif;
    font-weight: bold;
    padding-top: 20px;
    align-items: center;
    padding-left: 110px;

    
  }

 
  #start-button {
    border: 0;
    box-shadow: 0;
    background: linear-gradient(to bottom, #fab004, #c65900);
    color: #fff;
    padding: 25px ;
    margin-left: 699px;
    align-items: center;
    font-size: 30px;
    border-radius: 5px;
    font-family: 'Jura', sans-serif;
    justify-content: center;
    text-shadow: 6px 4px 6px #ca3a21;


  }
  
  canvas {
    align-items: center;
    margin-top: 30px;
    margin-left: 80px;
    
    border: 15px solid rgb(60, 156, 92);
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(137,186,183,1) 29%, rgba(255,166,0,0.919502835313813) 100%); 

  } 
  
 
  
  